<header class="header">
	<div class="container header__container">
		{{ partial "logo.html" . }}
		{{ partial "menu.html" . }}
		{{ if .Params.mathjax}}{{ partial "mathjax_support.html" . }}{{ end }}
	</div>
	
</header>
